@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500');

*,
html,
body {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ::selection {
  background: #ebaaff;
  color: #081b4b;
} */

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none outside none;
}

li {
  margin: 0;
  cursor: pointer;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

@font-face {
  font-display: swap;
  font-family: 'Vanguard';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/vanguard-heavy.otf');
}

@font-face {
  font-display: swap;
  font-family: 'Vanguard';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/vanguard-heavy-oblique.otf');
}

@font-face {
  font-display: swap;
  font-family: 'Elevon';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/elevon-4g.ttf');
}

h1 {
  font-family: 'Vanguard', sans-serif;
  font-size: 88px;
  font-weight: 800; /* extrabold */
  letter-spacing: -2px;
  line-height: 88px;
}

h2 {
  font-family: 'Epilogue', sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 48px;
}

h3 {
  font-family: 'Epilogue', sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 40px;
}

h4 {
  font-family: 'Epilogue', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

h5 {
  font-family: 'Epilogue', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

h6 {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
